<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
	<ul>
		<!-- <li v-for="cor in cores">{{cor}}</li> -->
		<li v-for="(cor, i) in cores" :key="cor">{{i+1}}) {{cor}}</li> <!--indice é sempre o 2o elemento-->
		<!-- key serve para dizer onde está exatamente onde está a identidade do elemento -->
	</ul>
	<br>
	<br>
	<button @click="cores.push('branca')">Adicionar</button>
	<br>
	<br>
	<template v-for="(cor, i) in cores">
		<h1>{{cor}}</h1>
		<p>{{i}}</p>
	</template>
	<hr>
	<ul>
		<li v-for="pessoa in pessoas"> <br>{{pessoa.nome}} 
			<div v-for="(valor, chave, indice) in pessoa">
				{{indice+1}}. {{chave}} = {{valor}}
			</div>
		</li>
	</ul>
	<hr>
	<span v-for="n in 10">{{n}}</span>
</div>


<script>
	new Vue({
		el: '#app',
		data:{
			cores:['vermelho','verde','amarelo','azul'],
			pessoas:[
				{nome: 'Ana', Idade: 26, Peso: 59},
				{nome:'Guilherme', idade: 22, peso: 89}
			]
		}
	})
</script>

<style>
	ul{
		list-style: none;
	}
	h1, p{
		display: inline;
	}
</style>