<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
	<template v-if="logado"><!--Só aparece no código, caso logado=true-->
		<p>Usuário logado: {{nome_user}}</p>
		<p>Perfil:Admin</p>
	</template>
	<p v-else-if="anonimo">Navegando como anonimo</p>
	<!-- <p v-if="!logado">Nenhum usuário logado</p> -->
	<p v-else="!logado">Nenhum usuário logado</p><!-- Só funciona se tiver logo após o v-if -->
	<input type="checkbox" v-model="anonimo">
	<button @click="logado = !logado">{{logado ? 'Sair' : 'Entrar' }}</button>
	<br/>
	<footer v-show="logado"><!--sempre aparece no código, mas na página, só se estiver logado-->
		Desenvolvido para vc!
	</footer>
	<footer v-show="!logado"><!--é o else do v-show-->
		Desenvolvido para vc, q é desconhecido!
	</footer>
</div>


<script>
	new Vue({
		el: '#app',
		data:{
			nome_user: 'Maria',
			logado: false,
			anonimo: false,

		}
	})
</script>